*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(159, 170, 214);
    font-family: 'Lobster', cursive;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/230315104436-01-french-bulldog-stock.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 40px;
}
.principal p{
    margin: 20px;
}

.principal article{
    border: 2px dotted;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
}

.principal h2{
    text-align: center;
    font-size: 30px;
}

.container-gal{
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

div.galeria{
    margin: 10px;
    box-shadow: 2px 4px 8px lightcyan;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}

.galeria img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

footer{
    background-color: rgb(255, 255, 255);
    color: rgb(127, 227, 227);
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

@media only screen and(max-width: 576px){
    .principalh2{

    }
}

@media only screen and (min-width: 576px){
    
}